.header {
    background-color: rgb(232, 83, 108);
    color: white;

    .title {
        margin: 0;
        padding: 20px;
        text-align: center;
    }
  
    .header-list {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    }
    
    .link {       
    color: white;
    text-decoration: none;
     }
    
}